<div id="user_homepage">    
    <%# <button type="button" class="btn btn-outline-primary">User</button>
    <button type="button" class="btn btn-outline-secondary">Transaction</button>
    <button type="button" class="btn btn-outline-success">Apply to Loan</button>
    <button type="button" class="btn btn-outline-danger">Loan Status</button>
    <button type="button" class="btn btn-outline-warning">ATM Details</button>
    <button type="button" class="btn btn-outline-info">Credit</button>
    <button type="button" class="btn btn-outline-dark">Withdrawal</button> %>
   
    
</div>


