<div id = "saving_account_withdrawal_page">
    <h2> Withdrawal Money From Saving Account </h2>
    <div class="btn btn-outline-dark">
        <%= link_to 'Withdrawal by ATM', "/saving_account_withdrawal_atm_form" , :class => "btn" %>
    </div>
    <div class="btn btn-outline-dark">
        <%= link_to 'Direct Withdrawal', "/saving_account_withdrawal_direct_form"  , :class => "btn" %>
    </div>
</div>