<div id = "withdrawal_page">
    <h2> Withdrawal Money </h2>
    <div class="btn btn-outline-dark">
        <%= link_to 'Current Account', "/current_account_withdrawal_form" , :class => "btn" %>
    </div>
    <div class="btn btn-outline-dark">
        <%= link_to 'Saving Account', "/saving_account_withdrawal_page"  , :class => "btn" %>
    </div>
</div>


